body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: black;
  animation: colorchange;
  -webkit-animation: colorchange;
  animation-duration: 10s;
animation-iteration-count: infinite;

}

#imgReceta {
	margin: 0px 50px 0px 50px;
	float: left;
	height: 250px;
	overflow: auto;
  	position: relative;
  	top: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

header{
	margin: auto;
	background-color: white;
	width: 80%;
	height: 300px;
	border-radius: 10px;
}

.icon{
	vertical-align: center;
	height: 35px;
	padding-right: 30px;
	display: inline-block;
}

#titleIngr{
	float: left;
	padding-left: 30px;
	
}

h3{
	padding-left: 30px;
}

h4{
	float: right;
	padding-right: 30px;
}

ul, ol{
	padding-left: 50px;
	margin: 0;
}

li{

}
span{
	vertical-align: center;

}

#content{
	width: 80%;
	background-color: white;
	margin : 30px auto 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
	border-radius: 10px;
}


#headerContent{
	padding-top: 20px
}

.green{
	color: green;
}

.orange{
	color: orange;
}

.red{
	color: red;
}

@keyframes colorchange
    {
      0%   {background:  #BAFFC9;}
      33%   {background:  #BAE1FF;}
      66%  {background: #F1CBFF;}
      100% {background:  #BAFFC9;}
    }
     @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background:  #BAFFC9;}
      33%   {background:  #BAE1FF;}
      66%  {background: #F1CBFF;}
      100% {background:  #BAFFC9;}
    }